h1{
    color: grey; /* type selector */
}

.blue_overline_text{ /* class selector */
    color: blue;
    text-decoration: overline;
}

#red_underline_text{ /* ID selector */
    color: red;
    text-decoration: underline;
}